// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$linkblue: #106ebe;
$titleblack: #2c2f33;
$paleyellow: #FFFFE0;
$bordergrey: #ECECEC;

h1 {
  color: $titleblack;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 34px;
}

body {
  padding-left: 25px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
}

.question {
  color: $titleblack;
  width: 625px;
  height: 100px;
  border-left: 7px solid $bordergrey;
  padding-left: 20px;
  padding-top: 10px;

  h2 {
    font-weight: 300;
  }

  h3 {
    font-style: italic;
    font-size: 20px;
    font-weight: 300;
  }
}

.answer {
  // font-weight: 300;
  // font-size: 14px;
  color: $titleblack;
  background-color: $paleyellow;
  width: 625px;
  height: 100px;
  border-left: 7px solid $bordergrey;
  padding-left: 20px;
  padding-top: 10px;

  h2 {
    font-weight: 400;
  }

  h3 {
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 20px;
  }
}

p {
  font-size: 14px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  padding-top: none;
}

div {
  padding-top: 10px;
}

a {
  color: $linkblue;
  text-decoration: none;
  font-size: 14px;
}

.box {
  width: 400px;
  height: 25px;
}

.ask_button {
  height: 31px;
  color: white;
  background-color: $linkblue;
  border-radius: 4px;
  border: none;
}
